.homescreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 75px;
}

.homescreen__title {
  font-size: 2.2rem;
  font-weight: 500;
  color: #171717;
  margin-bottom: 1.5rem;
}

.homescreen__trails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

@media (max-width: 1232px) {
  .homescreen__trails {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .homescreen__trails{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .homescreen__trails {
    grid-template-columns: repeat(1, 1fr);
  }
}