.homescreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.homescreen__title {
  font-size: 2rem;
  color: #171717;
  margin-bottom: 1rem;
}

.homescreen__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.1rem;
}

@media (max-width: 1232px) {
  .homescreen__products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .homescreen__products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .homescreen__products {
    grid-template-columns: repeat(1, 1fr);
  }
}