.navbar {
  position: fixed;
  width: 100vw;
  height: 80px;
  background-color: #171717;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 12px 28px 0px, rgba(0, 0, 0, 0.2) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  z-index: 50;
}

.navbar__logo {
  text-decoration: none;
  cursor: pointer;
}

.navbar__logo > h2 {
  color: #f4f4f4;
  font-size: 2rem;
  font-weight: 400;
}

.navbar__links {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar__links > li {
  padding-left: 1.5rem;
}

.navbar__links > li > a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.navbar__links > li > a > span {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

/* .home__link {
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
} */

.home__link:hover,
.admin__link:hover {
  color: #F24B44;
}

.hamburger__menu {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__menu > div {
  width: 100%;
  height: 3px;
  background-color: #f4f4f4;
}

.hamburger__menu:hover > div {
  background-color: #F24B44;
}

@media (max-width: 960px) {
  .navbar__links {
    display: none;
  }

  .hamburger__menu {
    display:flex;
  }
}

@media (max-width: 500px) {
  .navbar__logo h2 {
    font-size: 1.4rem;
  }
}